<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Edit item</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>


<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/main}">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/main/items}">Items</a></li>
        <li class="breadcrumb-item active" aria-current="page">Item</li>
    </ol>
</nav>

<!-- Item edition -->
<form id="edit-form" th:action="@{/main/items/edit}" th:method="post" action="item.html">
    <div th:if="${item.itemId == null}"><h1> Create New Item </h1></div>
    <div th:unless="${item.itemId == null}"><h1> Edit Item </h1></div>
    <h1>Item Info:</h1>

    <div class="form-group">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" th:field="${item.itemId}" readonly="readonly" class="form-control" th:value="${item.itemId}" value="1"/>
    </div>

    <div class="form-group">
        <label for="holder-input">Name:</label>
        <input id="holder-input" name="name"  th:field="${item.name}" type="text" class="form-control" th:value="${item.name}" value="John Doe"/>
    </div>

    <div class="form-group">
        <label for="holder-input">Price:</label>
        <input id="price-input" name="price" type="number" step="any" min="0" placeholder="0,00" class="form-control"
               th:value="${item.price}" value="0"/>
    </div>

    <div class="form-group">
        <label for="holder-input">Quantity:</label>
        <input id="quantity-input" name="quantity" type="number" step="1" class="form-control"
               th:value="${item.quantity}" value="0"/>
    </div>

    <div class="form-group">
        <label for="holder-input">Status:</label>

        <select class="custom-select mr-sm-2" name="status">
            <option value="default" th:value="${item.status}" th:text="${item.status}">Nothing selected</option>
            <option th:each="stat : ${status}" th:value="${stat}" th:text="${stat}"
                    th:selected="${stat==item.status}"></option>
        </select>

    </div>


    <div class="form-group">
        <img th:src="${item.getUrlImage()}" height="150" alt="...">
        <label for="holder-input">UrlImage:</label>
        <input id="url-image-input" name="urlImage" type="text" class="form-control" th:value="${item.urlImage}"
               value="default"/>
    </div>

    <div class="form-group">
        <label for="holder-input">Variations:</label>
        <input id="variations-input" name="variations" type="text" class="form-control" th:value="${item.variations}"
               value="default"/>
    </div>

    <div class="form-group">
        <label for="holder-input">ListingId:</label>
        <input id="listing-id-input" name="listingId" type="number" step="1" class="form-control"
               th:value="${item.listingId}"
               value="0"/>
    </div>
    <div>

        <div class="accordion" id="accordionExample">
            <div th:unless="*{sectionSelect.isEmpty()}" class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            Select section
                        </button>
                    </h5>
                </div>
                <div id="collapseOne"
                     th:class="${sectionSelect.isEmpty()}?  'collapse' : 'collapse show' "
                     aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="form-group">

                            <label for="holder-input">Section:</label>
                            <select th:field="*{item.itemSection}" class="form-control" required>
                                <th:block th:each="sect : ${sectionSelect}">
                                    <option th:text="${sect.name}" th:value="${sect.itemSectionId}"/>
                                </th:block>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            Add new section
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="holder-input">Variations:</label>
                                <input id="section-input3"  th:field="*{item.tempSection}"
                                       th:value="*{item.tempSection}" type="text" class="form-control"/>

                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="form-group">
            <button type="submit">Save</button>
        </div>
    </div>


</form>

</body>
</html>
